<h2>Albums</h2>
<ul class="albums">
	{{#albums}}<li><a href="do.php?do=GetAlbum&album={{.}}">{{.}}</a></li>{{/albums}}
</ul>


<h2>Tracks</h2>
<table>
	<thead>
		<tr>
			<th><abbr title="Track Number">#</abbr></th>
			<th>Title</th>
			<th>Album</th>
			<th>Time</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	{{#tracks}}
		<tr>
			<td>{{Track}}</td>
			<td>{{Title}}</td>
			<td><a href="do.php?do=GetAlbum&album={{Album}}">{{Album}}</a></td>
			<td>{{Time}}</td>
			<td>{{Date}}</td>
		</tr>
{{/tracks}}
	</tbody>
</table>
