<h2>Tracks</h2>
<table>
	<thead>
		<tr>
			<th><abbr title="Track Number">#</abbr></th>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Time</th>
			<th>Date</th>
		</tr>
	</thead>
	{{#tracks}}
		<tr>
			<td>{{Track}}</td>
			<td>{{Title}}</td>
			<td><a href="do.php?do=GetArtist&artist={{Artist}}">{{Artist}}</a></td>
			<td><a href="do.php?do=GetAlbum&album={{Album}}">{{Album}}</a></td>
			<td>{{Time}}</td>
			<td>{{Date}}</td>
		</tr>{{/tracks}}
</ul>
